<div class="games-container">
  <h1>🎮 Juegos Divertidos</h1>

  <div class="games-carousel">
    <div class="game-card" (click)="goToSumas()">
      <img src="https://mario.wiki.gallery/images/f/f5/DK_render_(TSMBM).png" alt="Sumas" />
      <h2>🧮 Sumas</h2>
      <p>Aprende a sumar jugando</p>
      <button>¡Jugar!</button>
    </div>
    <div class="game-card" (click)="goToRestas()">
      <img src="https://th.bing.com/th/id/R.6e50eb6abcc4563b9e1c92228298172a?rik=O7KbrpXkIzZqZg&pid=ImgRaw&r=0" alt="Sumas" />
      <h2>🧮 Restas</h2>
      <p>Aprende a restar jugando</p>
      <button>¡Jugar!</button>
    </div>
    <div class="game-card" (click)="goToObjetos()">
      <img src="https://tse2.mm.bing.net/th/id/OIP.fZF9L2cZituEicaBryO9_gHaHW?rs=1&pid=ImgDetMain" alt="Sumas" />
      <h2>🧮 Contar</h2>
      <p>Aprende a contar jugando</p>
      <button>¡Jugar!</button>
    </div>
    <div class="game-card" (click)="goToNombra()">
      <img src="https://th.bing.com/th/id/R.3f2a6179cd96745064f2eb857c7c4113?rik=s2Q0AdVbveTDLA&pid=ImgRaw&r=0" alt="Sumas" />
      <h2>🧮 Nombra objetos</h2>
      <p>Aprende a contar jugando</p>
      <button>¡Jugar!</button>
    </div>
  </div>
</div>