<div class="container">
  <h1>{{ title }}</h1>

  <div *ngIf="alimentos.length === 0">
    <p>No hay alimentos en la nevera.</p>
  </div>

  <div *ngIf="alimentos.length > 0">
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th>Fecha de Compra</th>
        
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alimento of alimentos">
          <td>{{ alimento.nombre }}</td>
          <td>{{ alimento.cantidad }}</td>
          <td>{{ alimento.precio | currency:'EUR' }}</td>
          <td>{{ alimento.fechaCompra }}</td>
          
        </tr>
      </tbody>
    </table>

    <div class="total">
      <strong>Total gastado:</strong> {{ totalGastado  }} €
    </div>
  </div>
</div>




