<h2>{{ title }}</h2>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Cantidad (kg)</th>
      <th>Precio</th>
      <th>Fecha de Compra</th>
      <th>Fecha de Caducidad</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let frutas of frutas">
      <td>{{ frutas.nombre }}</td>
      <td>{{ frutas.cantidad }}</td>
      <td>{{ frutas.precio }} €</td>
      <td>{{ frutas.fechaCompra }}</td>
      <td>{{ frutas.fechaCaducidad }}</td>
    </tr>
  </tbody>
</table>

<div class="container">
  <h3>Total gastado en fruta: {{ totalGastado }}  €</h3>
</div>