<h2>{{ title }}</h2>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Cantidad (kg)</th>
      <th>Precio</th>
      <th>Fecha de Compra</th>
      <th>Fecha de Caducidad</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let carnes of carnes">
      <td>{{ carnes.nombre }}</td>
      <td>{{ carnes.cantidad }}</td>
      <td>{{ carnes.precio }} €</td>
      <td>{{ carnes.fechaCompra }}</td>
      <td>{{ carnes.fechaCaducidad }}</td>
    </tr>
  </tbody>
  
</table>
<div class="container">
  <h3>Total gastado en carne: {{ totalGastado }}  €</h3>
</div>