<h2>{{ title }}</h2>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Cantidad (kg)</th>
      <th>Precio</th>
      <th>Fecha de Compra</th>
      <th>Fecha de Caducidad</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pescados of pescados">
      <td>{{ pescados.nombre }}</td>
      <td>{{ pescados.cantidad }}</td>
      <td>{{ pescados.precio }} €</td>
      <td>{{ pescados.fechaCompra }}</td>
      <td>{{ pescados.fechaCaducidad }}</td>
    </tr>
  </tbody>
</table>

<div class="container">
  <h3>Total gastado en pescado: {{ totalGastado }}  €</h3>
</div>